services:
  frontend:
    build: ./StudyBuddy
    container_name: studybuddy-frontend
    restart: unless-stopped

  backend:
    build: ./studybuddy-api
    container_name: studybuddy-backend
    restart: unless-stopped
    env_file:
      - .env

  nginx:
    image: nginx:alpine
    container_name: studybuddy-nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    depends_on:
      - frontend
      - backend

  certbot:
    image: certbot/certbot
    container_name: studybuddy-certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
